*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.6);
}

.back {
    position: absolute;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.page {
    height: 100vh;
    width: 100vw;
    background: url("./elevate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.python {
    height: 105vh;
    width: 100vw;
    background: url("./python.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

.javascript {
    height: 100vh;
    width: 100vw;
    background: url("./javascript.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}